<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.10.1/chartist.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.10.1/chartist.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
  </head>
  <body>
    <div class="ct-chart ct-perfect-fourth"></div>

    <h4>Mentors</h4>
    <ul>
      {% for mentor in mentors %}
      <li>{{ mentor.screen_name }}</li>
      {% endfor %}
    </ul>

    <script>
      const FOLLOW_DAY_COUNTS={{ follow_day_counts|tojson }};
      const UNFOLLOW_DAY_COUNTS={{ unfollow_day_counts|tojson }};
      const FOLLOWER_DAY_COUNTS={{ follower_day_counts|tojson }};
    </script>
    <script src="/static/user.js"></script>
  </body>
</html>
