<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.10.1/chartist.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.10.1/chartist.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
  </head>
  <body>
    <div class="ct-chart ct-perfect-fourth"></div>

    <h4>Average Rates</h4>
    <ul>
      <li>{{ follow_rate|int }} follows per day ({{ follow_rate_week|int }} past week)</li>
      <li>{{ unfollow_rate|int }} unfollows per day ({{ unfollow_rate_week|int }} past week)</li>
      <li>{{ (follow_rate - unfollow_rate)|int }} retained per day ({{ (follow_rate_week - unfollow_rate_week)|int }} past week)</li>
      <li>{{ follower_rate|int }} followers per day ({{ follower_rate_week|int }} past week)</li>
      <li>{{ leader_rate|int }} leaders per day ({{ leader_rate_week|int }} past week)</li>
    </ul>

    <h4>Mentors</h4>
    <ul>
      {% for mentor in mentors %}
      <li>{{ mentor.screen_name }}</li>
      {% endfor %}
    </ul>

    <script>
      const FOLLOW_DAY_COUNTS={{ follow_day_counts|tojson }};
      const UNFOLLOW_DAY_COUNTS={{ unfollow_day_counts|tojson }};
      const FOLLOWER_DAY_COUNTS={{ follower_day_counts|tojson }};
      const LEADER_DAY_COUNTS={{ leader_day_counts|tojson }};
    </script>
    <script src="/static/user.js"></script>
  </body>
</html>
